
 form {
    border: 4px solid #6a96f3;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
    height: 550px
}
body {font-family: Arial, Helvetica, sans-serif;}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

span.psw {
    float: right;
    padding-top: 40px;
}
span.reg {
    float: left;
    padding-top: 40px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: floralwhite;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    color: floralwhite;
}
